.itemsList,
.total_items {
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0.5px 8px #cccbcb;
    padding: 20px 20px 20px 20px;
    margin-bottom: 25px;
}

.total_items div {
    color: green;
}

.eachItmAdded {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 18px;
    gap: 10px;
}

.deleteEditFonts {
    display: block;
    align-self: center;
    cursor: pointer;
}

.itemstext {
    font-size: 20px;

}

@media screen and (max-width: 2000px) {
    .itemsList {
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 900px) {
    .itemstext {
        font-size: 20px;

    }

    .eachItmAdded {
        font-size: 20px;
        gap: 1px;
    }

    .deleteEditFonts {
        font-size: 20x;
    }

    .itemsList {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 650px) {
    .itemstext {
        font-size: 15px;

    }

    .eachItmAdded {
        font-size: 15px;
        gap: 1px;
    }

    .deleteEditFonts {
        font-size: 10x;
    }

    .itemsList {
        margin-bottom: 5px;
    }

}