.moneyOutIcon {
    width: 18px;
    height: 18px;
}

.moneyOutIcon2 {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 900px) {
    .moneyOutIcon {
        width: 20px;
        height: 20px;
    }

    .moneyOutIcon2 {
        width: 16px;
        height: 16px;
    }
}