.features1Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    font-family: var(--font-base);
    padding-top: 48px;
    padding-bottom: 48px;
}

.features1ContentWrapper {
    display: flex;
    width: 60%;
}

.describtionLearnMore {
    width: 50%
}

.describtionLearnMore div,
p {
    font-size: 20px;
    color: rgb(150, 150, 150);
    margin: 0;
    padding: 0;
}

.describtionLearnMore h2 {
    font-size: 67px;
    color: rgb(36, 36, 35);
    margin: 0;
    padding: 0;
}

.describtionLearnMore button {
    width: 250px;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 25px;
    font-family: var(--font-base);
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-yellow);
    }
}

.features1Image {
    display: flex;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .features1Container {
        height: 900px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .features1ContentWrapper {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .describtionLearnMore {
        width: 90vw;
    }

    .describtionLearnMore h2 {
        font-size: 50px;
        color: rgb(36, 36, 35);
        margin: 0;
        padding: 0;
    }

    .features1Image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

}